<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 border p-5 m-5 rounded shadow ">
            <form [formGroup]="updateHotel" (ngSubmit)="onSubmit()">
                <p class="h4 text-center mb-5">Update Image Hotel</p>
                <div class="form-group">
                  <label for="exampleInputEmail1">Url image</label>
                  <input [(ngModel)]="photo" formControlName="photo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter photo...">
                </div>
                <button [disabled]="!updateHotel.valid" type="submit" class="btn btn-success btn-lg btn-block">Update</button>
            </form>
        </div>
    </div>
</div>